<h4 class="mt-2 mb-4">Dashboard</h4>

<div class="">
    
    <h1 class="mb-3 ">Welcome {{name}} </h1>

    <p class="text-light muted">Here are your stories</p>

    {{#if stories }}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each stories }}
                <tr>
                    <td><a href="/stories/{{_id}}">{{Title}}</a></td>
                    <td>{{createdAt}}</td>
                    <td><span class="dash-status">{{Status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>




    </table>
    {{else}}
        <p>You have not created any story </p>



    {{/if}}

</div>
